/* ==========================================================
                      Hero Section
   ========================================================== */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resume {
  max-width: 1200px;
  margin: 0 auto;
}

.resume-title {
  text-align: center;
}

.resume-title .name {
  font-size: 3rem;
  font-weight: bold;
  color: #e45a84;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
}

.resume-title .resume-job-title {
  font-size: 1.8rem;
  color: #6175ff;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--ff-raleway);
}

/* Resume Download */
.download-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid #007BFF;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.download-button:hover {
  color: #fff;
  background-color: #007BFF;
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}



/* Section Styles */
.resume section {
  max-width: 1200px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 10px auto;

  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    #e32a62,
    #583c87
   ); /* e45a84 */
}

/* Responsive styles */
@media (max-width: 768px) {
  .resume section {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .resume section {
    padding: 15px;
  }
}

.resume section h2 {
  font-size: 1.8rem;
  font-weight: bold;
  /* color: #e45a84; */
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* List Styles */
ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 5px;
}

/* Skills List Styles */
.skills-list {
  list-style: disc inside;
  padding-left: 20px;
}

/* Experience and Education Styles */
.resume .education-item {
  border-left: 2px solid #e45a84;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* Projects Styles */
.resume .project-item {
  background: rgba(45, 45, 45, 0.6);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.49);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.resume .project-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e45a84;
  margin-bottom: 5px;
}

/* Summary Section Styles */
.summary {
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.summary h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.summary p,  .objective p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.summary ul {
  list-style: none;
  padding: 0;
  display: block !important;
}

.summary ul li {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.summary ul li::before {
  content: "•";
  color: #e45a84;
  margin-right: 10px;
  font-size: 2rem;
}

.summary ul a {
  text-decoration: none;
  color: #ffacac;
  transition: color 0.3s;
}

.summary ul a:hover {
  color: #e45a84;
}


/* Objective Section Styles */
.objective {
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


/* Education Section Styles */
/* .education {} */

.education h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.education-item {
  margin-bottom: 20px;
}

.education-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #e45a84;  */
  color: #ffc107;
  margin-bottom: 5px;
}


.education-item p {
  font-size: 1rem;
  color: #fff;
  margin-top: 5px;
}

/* Add hover effect for the items */
.education-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
}

/* Skills Section Styles */
/* .skills {} */

.skills h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}


.skills ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.skills li {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.skills li::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #e45a84;
}

.skills h3 {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #e45a84; */
  color: #ffc107;
  margin-top: 20px;
}

/* Projects Section Styles */
/* .projects {} */

.projects h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.project-item {
  margin-bottom: 20px;
}

.project-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e45a84; /* Title color */
  margin-bottom: 10px;
}

.project-item p {
  font-size: 1rem;
  color: #fff;
  margin-top: 15px;
}

/* Optional: Add a hover effect for the project items */
/* .project-item:hover {
  background: rgba(255, 255, 255, 0.1); 
} */

/* Education Section Styles */
.education {
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    #e45a84,
    #583c87
  ); /* Gradient background with your palette colors */
}

.education h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.education-item {
  margin-bottom: 20px;
  position: relative;
}



.education-item p {
  font-size: 1rem;
  color: #fff;
}

/* Timeline Styles */
.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #e45a84; /* Timeline color */
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  padding-left: 20px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -7px;
  width: 12px;
  height: 12px;
  border: 2px solid #e45a84; /* Timeline dot color */
  background: #fff;
  border-radius: 50%;
}

/* Optional: Add hover effects for the education items */
.education-item:hover {
  background: rgba(255, 255, 255, 0.1); /* Light background on hover */
}



/* Poject links */
.resume-project-links {
  display: flex;
 gap: 10px;
 margin-top: 15px;
}

.resume-project-links a {
  text-decoration: none;
  color: #007bff;
  display: flex;
  align-items: center;
  transition: color 0.3s, background-color 0.3s; /* Add background-color transition */
  padding: 8px 15px;
  border: 2px solid #007bff; /* Add border for button-like appearance */
  border-radius: 5px;
}

.resume-project-links a:hover {
  color: #0056b3;
  background-color: #e6f7ff; /* Change background color on hover */
  border-color: #0056b3; /* Change border color on hover */
}

.resume-project-links i {
  margin-right: 5px;
}




/* ==========================================================
                      Hero Section
   ========================================================== */
