* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
#resume-page {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-light-black);
}

body {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--on-surface-color);
  font-family: var(--ff-jetbrains);
  background-color: var(--background-color);
  background-image: radial-gradient(#ffffff33 1px, #00091d 0);
  background-size: 10px 10px;
}

#resume-page .section-container {
  background-color: var(--background-color);
}

#resume-page section {
  padding: 20px 40px;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 15px var(--primary-color);
}

#resume-page .resume-title .section-container {
  background-color: transparent;
}

.resume-title {
  max-width: 1200px;
  text-align: center;
  padding: 40px 0;
  /* background-color: var(--surface-color); */
  color: var(--primary-color);
}

.resume-title .name {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-color);
  /* text-shadow: 0px 0px 15px var(--primary-color); */
}

.resume-title .resume-job-title {
  font-size: 1.8rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.resume-title .download-button {
  display: inline-block;
  color: var(--on-primary-color);
  padding: 14px 38px;
  border-radius: 43px;
  border: 1px solid var(--secondary-color);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.resume-title .download-button:hover {
  background-color: var(--secondary-color);
}

section h2 {
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
}

section h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.section-container ul li,
.section-container p {
  font-size: 1.2rem;
  color: var(--light-gray-color);
  margin-bottom: 15px;
}

.skills-list li {
  font-size: 1.3rem;
  color: var(--light-green);
  margin: 10px 0;
  transition: color 0.3s ease;
}

.skills-list li:hover {
  color: var(--secondary-color);
}

.resume-project-links a {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.resume-project-links a:hover {
  color: var(--secondary-color);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

footer p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  #resume-page section {
    padding: 20px 10px;
  }
  .resume-title .name {
    font-size: 3rem;
  }
  .resume-title .resume-job-title {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .section-container ul li,
  .section-container p {
    font-size: 1rem;
  }
}
