/* ==========================================================
                      Color scheme
   ========================================================== */

:root {
  --primary-color: #1976d2;
  --secondary-color: #ffc107;
  --error-color: #ff5252;
  --background-color: #f5f5f5;
  --surface-color: #ffffff;
  --on-primary-color: #ffffff;
  --on-secondary-color: #000000;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --ff-roboto: "Roboto", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --light-gray-color: #bdbdbd;

  --primary-color-2: #e45a84;
  --secondary-color-2: #583c87;
  --accent-color-2: #ffacac;
}

/* Light theme */
.light {
  --primary-color: lighten(var(--primary-color), 15%);
  --secondary-color: lighten(var(--secondary-color), 15%);
  --error-color: lighten(var(--error-color), 15%);
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --on-primary-color: #000000;
  --on-secondary-color: #ffffff;
  --on-background-color: #000000;
  --on-surface-color: #000000;

  --background-color-2: #ffffff;
  --text-color-2: #333333;
  --border-color-2: #dddddd;
}

/* Dark theme */
.dark {
  --primary-color: darken(var(--primary-color), 15%);
  --secondary-color: darken(var(--secondary-color), 15%);
  --error-color: darken(var(--error-color), 15%);
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --on-primary-color: #ffffff;
  --on-secondary-color: #000000;
  --on-background-color: #ffffff;
  --on-surface-color: #ffffff;

  --background-color-2: #333333;
  --text-color-2: #ffffff;
  --border-color-2: #555555;
}

/* ==========================================================
                  Some Default Setting
   ========================================================== */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* For removing horizental scroll of toggle right side menu */
/* body,
.hero,
.about,
.portfolio,
.contact,
#footer {
  overflow-x: hidden;
} */

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

* {
  font-family: var(--ff-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-container {
  background: rgba(45, 45, 45, 0.2);
  border-radius: 16px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .section-container {
    border-radius: 14px;
    padding: 25px;
  }
}

@media screen and (max-width: 500px) {
  .section-container {
    border-radius: 0px;
    padding: 10px;
    border: none;
  }
}

/* ==========================================================
                      Header Top Navbar
   ========================================================== */

header {
  max-width: 1400px;
  margin: 0 auto;
  background: #3e1e68;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

#logo span {
  font-weight: bold;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 40px;
  font-weight: 900;
  font-family: var(--ff-raleway);
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar ul li {
  margin: 0 10px;
}

/* Link Styles */
.navbar a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  color: var(--light-gray-color);
  transition: background-color 0.3s ease;
}

.navbar .icon {
  font-size: 20px;
}

.navbar .text {
  font-weight: bold;
  margin-top: 5px;
}

.navbar a:hover:not(.navbar li.active a) {
  color: var(--surface-color);
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

li.active a {
  color: var(--primary-color-2);
}

/* Add this for hiding horizontal scroll when the menu is closed */
/* body.menu-closed {
  overflow-x: hidden;
} */

@media screen and (max-width: 992px) {
  #logo span {
    font-size: 30px;
    font-weight: 900;
  }
}

/* Add this for the burger menu on the right side */
#burger-menu {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

#burger-menu span {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}

#burger-menu span i {
  color: #e5e2e2;
  font-size: 30px;
  transition: all 0.8s; /* Adjust the duration as needed */
}


#menu-toggle {
  display: none;
}

@media screen and (max-width: 900px) {
  #burger-menu {
    display: flex;
    /* position: relative; */
  }

  .navbar ul {
    display: block;
    position: absolute;
    top: 0;
    right: -300px;
    padding-top: 50px;
    background: #3e1e68;
    flex-direction: column;
    z-index: 2;
    width: 260px;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
  }

  .navbar ul li {
    margin: 0;
  }

  /* Link Styles */
  .navbar a {
    display: flex;
    flex-direction: row;
    padding: 9px 27px;
  }

  .navbar .icon {
    font-size: 20px;
    margin: 10px 15px;
  }

  .navbar .text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }

  #menu-toggle:checked + .navbar ul {
    right: 0;
    display: flex;
    overflow: hidden;
  }

  .navbar a {
    padding: 10px 20px;
  }
}

/* ==========================================================
                      Hero Section
   ========================================================== */

.hero {
  /* background-color: #3E1E68;  */
  /* background: linear-gradient(45deg, #E45A84, #583C87); Gradient background */
  color: #fff;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero-left {
  max-width: 50%;
}

.hero-right {
  max-width: 50%;
  text-align: center;
}

.hero-title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.job-title {
  font-size: 2rem;
  font-weight: bold;
  /* color: #e4e15a; */
  color: #f6d15a;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: var(--ff-raleway);
  border-bottom: 2px solid #e4e15a;
}

.hero-subtitle {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 1.4;
}

.hero-left-content {
  max-width: 100%;
  text-align: left;
}

.hero-buttons {
  width: 100%;
  margin-bottom: 30px;
}

.hero-buttons .btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #e45a84;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
  background-color: #ff3366;
}

.hero-social-icons {
  font-size: 1.5rem;
}

.hero-social-icons .social-icon {
  font-size: 1.5rem;
  color: #e45a84;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.hero-social-icons .social-icon:hover {
  color: #ff3366;
}

.hero-image img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid #e45a84;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Media Query for Responsiveness */
@media (max-width: 992px) {
  .hero {
    padding: 10px 0;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .job-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-image img {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 10px 0;
  }

  .hero-content {
    flex-direction: column-reverse;
    padding: 10px 0;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-image img {
    width: 60%;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 2rem;
  }

  .job-title {
    font-size: 1.5rem;
  }

  .hero-buttons .btn {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .hero .section-container {
    display: block;
  }

  .hero-image img {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
  .hero-image img {
    width: 90%;
  }
}

/* ==========================================================
                      About me secion
========================================================== */
#about {
  max-width: 1200px;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  border-bottom: 5px solid rgb(197, 80, 255);
  display: inline-block;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  border: 8px solid #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  height: 350px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.1);
}

/* About Right side */
.about-right {
  flex: 2;
  text-align: left;
}

/* About Tabs */
.about-tabs {
  margin-bottom: 20px;
  text-align: left;
}

.about-tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.about-tabs li {
  cursor: pointer;
  font-size: 1.2rem;
  color: #d9d8d8;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.about-tabs li.active {
  background-color: rgb(197, 80, 255);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.about-tabs li:not(.active):hover {
  background-color: #3e1e68;
  color: #fff;
  transition: background-color 0.3s;
}

/* About Text */
.tab-heading {
  font-size: 1.8rem;
  color: #e7e7e7;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: var(--ff-raleway);
}

.about-tab p,
.experience-paragraph,
.education-tab p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #f8f8f8;
  line-height: 1.6;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tab-content {
  display: none;
  min-height: 400px; /* Set a minimum height */
  box-sizing: border-box; /* Include padding in the height */
}

.tab-content.active {
  display: block;
  background-color: rgba(45, 45, 45, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* About Tab Social Icons */
.about-social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-social-icon {
  font-size: 1.5rem;
  color: #bcbcbc;
  text-decoration: none;
  transition: color 0.3s;
}

.about-social-icon:hover {
  color: rgb(197, 80, 255);
}

.roadmapcodecamp-link {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.roadmapcodecamp-link:hover {
  text-decoration: underline;
}

/* Skills Tab */
.skills-list,
.experience-list,
.education-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-subheading,
.education-tab h4 {
  font-size: 1.3rem;
  color: #e7e7e7;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.skills-list i {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #f8f8f8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.skills-list li,
.education-list li {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #333;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.skills-list li:hover {
  background-color: #171515;
  color: #fff;
  transform: scale(1.05);
}

.quick-learner-line {
  font-size: 1.3rem;
  color: #e7e7e7;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #1976d2;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Experience Tab */
.experience-icon {
  font-size: 1.1rem;
  color: #3d3d3d;
  margin-right: 10px;
}
.experience-list li {
  font-size: 1.1rem;
  color: #fffbfb;
  line-height: 1.6;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #171515;
  padding: 10px;
  border-radius: 5px;
}
.experience-list li a {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.experience-list li a:hover {
  text-decoration: underline;
}

/* Education Tab */
.tab-content p b {
  font-weight: bold;
  color: #f1502f; /* Highlight GPA in a distinctive color */
}

.education-list li:last-child {
  margin: 5px 0;
  font-weight: bold;
  color: #61dafb;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #about {
    padding: 10px 0;
  }

  .section-title {
    font-size: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-image {
    flex: none;
    max-width: 250px;
    margin: 0 auto;
  }

  .about-image img {
    height: auto;
  }

  .about-tabs ul {
    margin-top: 20px;
    justify-content: center;
  }

  .about-tabs li {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Media query for smaller screens */
@media (max-width: 430px) {
  .about-tabs ul {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }

  .about-tabs li {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .education-list li {
    padding: 5px;
    margin-bottom: 5px;
  }

  .tab-content.active {
    padding: 5px;
    border-radius: 5px;
}
}

/* ==========================================================
                      Portfolio Section
   ========================================================== */

.portfolio {
  text-align: center;
  padding: 0px 0;
  color: #ffffff; /* Text color */
  max-width: 1200px;
  margin: 20px auto;
}

.portfolio h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 5px solid rgb(197, 80, 255);
}

.portfolio p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.portfolio a.profolio-see-all {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.portfolio p a.profolio-see-all:hover {
  color: #0056b3;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc(50% - 30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-height: 240px;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
}

.portfolio-item:hover::before {
  opacity: 1;
}

.project-details {
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.3s;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-item:hover .project-details {
  opacity: 1;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f7f7f7;
  margin-bottom: 10px;
}

.project-details p {
  color: white;
  font-size: 1rem;
  margin: 10px 0;
}

.project-links a {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 10px;
}
.project-links a:hover {
  color: #007bff;
}

.portfolio-item:hover .project-details {
  display: block;
}

/* Media Query for Responsiveness (adjust as needed) */
@media (max-width: 800px) {
  .portfolio {
    margin: 10px auto;
  }

  .portfolio-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .portfolio-item {
    width: 100%;
  }
}

/* ==========================================================
                      Contact Section
   ========================================================== */

.contact {
  color: #fff;
  padding: 20px 0;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 5px solid rgb(197, 80, 255);
}

.contact p {
  font-size: 1.2rem;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.contact-item {
  margin: 0 0px;
  background: rgba(0, 0, 0, 0.2);
  color: #e45a84;
  padding: 20px;
  border-radius: 10px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.contact-item:hover {
  background: white;
}

.contact-item i {
  font-size: 1.8rem;
  color: #007bff;
  margin-right: 10px;
}

.contact-item p {
  color: rgb(243, 240, 240);
  font-size: 1rem;
  margin: 0;
}

.contact-item:hover .contact-item p {
  color: black;
}

.contact-item a {
  text-decoration: none;
  /* color: #007bff; */
  color: #25d366;
  transition: color 0.3s ease;
}
.contact-item:hover {
  background: white;
  color: #000;
}

.contact-item:hover p {
  color: #000;
}

/* .contact-form {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.contact-form h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 5px;
  color: #fff;
}

.form-group textarea {
  resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #fff;
  opacity: 0.7;
  font-size: 1rem;
  font-weight: normal;
  transition: opacity 0.3s;
}
.contact-form .submit-btn {
  padding: 10px 20px;
  background-color: #c550ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contact-form .submit-btn:hover {
  background-color: #e45a84;
} */

/* contact whatsapp button */
.contact-whatsapp {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  background-color: #040404;
  transition: all 0.3s ease;
}
.contact-whatsapp:hover {
  background-color: #0c5fb7;
  border: 2px solid #25d366;
}
.contact-whatsapp:hover a,
.contact-whatsapp:hover i {
  color: white;
}
.contact-whatsapp i {
  font-size: 1.5rem;
  color: #25d366;
  margin-right: 10px;
}

.contact-whatsapp a {
  color: #25d366;
  text-decoration: none;
  font-size: 1.2rem;
}

.contact .social-icons {
  margin-top: 40px;
}

.contact .social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #007bff;
  font-size: 2rem;
  text-decoration: none;
}

.contact .social-icons a:hover {
  color: #0056b3;
}

@media screen and (max-width: 650px) {
  .contact-details {
    display: block;
  }
  .contact-item {
    margin: 5px auto;
  }
}

@media screen and (max-width: 650px) {
  .contact-form {
    padding: 20px 10px;
  }
}

/* ==========================================================
                      Footer Section
   ========================================================== */

/* Footer Section Styles */
footer {
  background-color: #3e1e68;
  color: #fff;
  text-align: center;
  padding: 30px 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  text-align: left;
  flex: 1;
  margin-bottom: 20px;
}

.footer-left h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.footer-left p {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #ffecb3;
}

.social-icons a {
  font-size: 2rem;
  color: #ffecb3;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:not(.social-icons a:first-child) {
  margin-right: 10px;
}

.social-icons a:hover {
  color: #fff;
}

.footer-right {
  flex: 1;
}

.footer-right p {
  font-size: 1.2rem;
  margin: 0;
  color: #ffecb3;
  transition: opacity 0.3s;
  cursor: pointer;
}

.footer-right p:hover {
  opacity: 0.8;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    flex: none;
    width: 100%;
  }

  .social-icons {
    margin: 20px 0;
  }
}

/* ==========================================================
                      Background Animation Section
   ========================================================== */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 13;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--primary-color-2);
  top: 95%;
  left: 73%;
  animation-duration: 319s;
  animation-delay: -3s;
  transform-origin: 22vw -11vh;
  box-shadow: 34vmin 0 5.162880106662766vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--background-color);
  top: 71%;
  left: 16%;
  animation-duration: 205s;
  animation-delay: -195s;
  transform-origin: -20vw -22vh;
  box-shadow: 34vmin 0 5.1806967214493405vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--primary-color-2);
  top: 31%;
  left: 23%;
  animation-duration: 42s;
  animation-delay: -323s;
  transform-origin: -22vw -3vh;
  box-shadow: 34vmin 0 5.236596061195781vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 90%;
  left: 86%;
  animation-duration: 217s;
  animation-delay: -152s;
  transform-origin: 20vw -11vh;
  box-shadow: -34vmin 0 4.93884933760803vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 27%;
  left: 41%;
  animation-duration: 264s;
  animation-delay: -268s;
  transform-origin: 20vw -10vh;
  box-shadow: -34vmin 0 4.419782343556094vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 35%;
  left: 67%;
  animation-duration: 8s;
  animation-delay: -271s;
  transform-origin: 25vw 19vh;
  box-shadow: 34vmin 0 4.455113421716891vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--primary-color-2);
  top: 100%;
  left: 19%;
  animation-duration: 32s;
  animation-delay: -236s;
  transform-origin: -10vw -3vh;
  box-shadow: 34vmin 0 4.889151397615488vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 53%;
  left: 97%;
  animation-duration: 119s;
  animation-delay: -323s;
  transform-origin: -10vw 18vh;
  box-shadow: -34vmin 0 4.750040063622057vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffacac;
  top: 9%;
  left: 67%;
  animation-duration: 239s;
  animation-delay: -61s;
  transform-origin: -23vw 6vh;
  box-shadow: -34vmin 0 4.855983979564374vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 6%;
  left: 45%;
  animation-duration: 14s;
  animation-delay: -23s;
  transform-origin: 23vw -19vh;
  box-shadow: -34vmin 0 4.581016151363295vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffacac;
  top: 73%;
  left: 35%;
  animation-duration: 163s;
  animation-delay: -170s;
  transform-origin: 8vw 6vh;
  box-shadow: 34vmin 0 5.2437345739030725vmin currentColor;
}
.background span:nth-child(11) {
  color: #583c87;
  top: 66%;
  left: 27%;
  animation-duration: 366s;
  animation-delay: -234s;
  transform-origin: 5vw 15vh;
  box-shadow: 34vmin 0 5.216929514087346vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 100%;
  left: 1%;
  animation-duration: 191s;
  animation-delay: -11s;
  transform-origin: 16vw 16vh;
  box-shadow: 34vmin 0 4.917862374422743vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffacac;
  top: 90%;
  left: 35%;
  animation-duration: 166s;
  animation-delay: -68s;
  transform-origin: 1vw 17vh;
  box-shadow: 34vmin 0 5.118091887358885vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffacac;
  top: 100%;
  left: 62%;
  animation-duration: 228s;
  animation-delay: -273s;
  transform-origin: 14vw 17vh;
  box-shadow: -34vmin 0 5.119304157368887vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffacac;
  top: 27%;
  left: 18%;
  animation-duration: 115s;
  animation-delay: -211s;
  transform-origin: 9vw -6vh;
  box-shadow: -34vmin 0 4.581020909506762vmin currentColor;
}
.background span:nth-child(16) {
  color: var(--primary-color-2);
  top: 75%;
  left: 81%;
  animation-duration: 90s;
  animation-delay: -273s;
  transform-origin: -10vw 9vh;
  box-shadow: 34vmin 0 4.968263902497899vmin currentColor;
}
.background span:nth-child(17) {
  color: var(--primary-color-2);
  top: 40%;
  left: 27%;
  animation-duration: 100s;
  animation-delay: -107s;
  transform-origin: -4vw -13vh;
  box-shadow: 34vmin 0 4.542040001500469vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 12%;
  left: 36%;
  animation-duration: 266s;
  animation-delay: -305s;
  transform-origin: -10vw 13vh;
  box-shadow: -34vmin 0 4.464297978805436vmin currentColor;
}
.background span:nth-child(19) {
  color: var(--primary-color-2);
  top: 21%;
  left: 49%;
  animation-duration: 143s;
  animation-delay: -321s;
  transform-origin: -2vw 19vh;
  box-shadow: -34vmin 0 4.741194824287879vmin currentColor;
}

/* ==========================================================
                     Buger Menu
   ========================================================== */

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

/* ==========================================================
                   About Me Page
   ========================================================== */
.about-me {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(45, 45, 45, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-me h1 {
  color: var(--on-primary-color);
  font-size: 46px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  border-bottom: 3px solid #e45a84;
  background: linear-gradient(to right, transparent, #e45a84, transparent);
  padding-bottom: 10px;
}

.about-me h1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #e45a84 transparent;
  transform: translateX(-50%);
}

.about-me-img img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  border-radius: 50%;
  margin: 20px 0;
  transition: transform 0.3s;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: 6px inset var(--primary-color-2);
}

.about-me-img img:hover {
  transform: scale(1.1);
}

.about-me h2 {
  font-size: 24px;
  transition: color 0.3s;
  color: white;
}
/* About me text */
.about-me-text {
  width: 100%;
  max-width: 520px;
  margin: 2rem auto;
  color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7); /* Adjusted box-shadow for an outstanding look */
  border: 2px outset #e45a84;
  border-radius: 11px;
  padding: 30px 20px;
  transition: all 0.3s;
}

.about-me-text:hover {
  box-shadow: 5px 5px 10px rgba(218, 142, 142, 0.7); /* Adjusted box-shadow for an outstanding look */
}

.about-me-text p {
  font-size: 17px;
  margin: 10px 0;
  transition: color 0.3s;
  font-family: var(--ff-raleway);
  font-weight: bolder;
  font-style: italic;
  line-height: 1.4;
  text-align: center;
  margin: 1rem auto;
}
.about-me-text p:nth-child(2) {
  font-family: "Pacifico", var(--ff-raleway), cursive;
  font-size: 2.5rem;
  color: var(--accent-color-2);
}

/* Profile Highlights Section */
.about-me-highlights {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(45, 45, 45, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-me-highlights-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-me-highlights h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
  transition: color 0.3s;
}

.highlight-item {
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 20px;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.3s;
}

.highlight-item i {
  font-size: 40px;
  color: var(--on-secondary-color);
}

.highlight-item p {
  font-size: 20px;
  margin-top: 15px;
  color: var(--on-secondary-color);
}

.highlight-item:hover {
  background-color: var(--accent-color-2);
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

/* About Me Skills Section */
.about-me-skills {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(45, 45, 45, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-me-skills-content {
  display: flex;
  flex-direction: column;
}

.about-me-skills-content h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
  transition: color 0.3s;
}
.about-me-skills-content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.about-me-skills-content li {
  font-size: 68px;
  transition: color 0.3s;
  padding: 20px;
  border-radius: 50%;
  border-radius: 50%;
  color: var(--on-primary-color);
}

.about-me-skills-content li span {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.about-me-skills-content li span:hover {
  background-color: #379ad6; /* Adjust the hover background color as needed */
}

.proficiency {
  display: flex;
  align-items: center;
  gap: 10px;
}

.proficiency-icon i {
  font-size: 30px;
  /* color: var(--primary-color); */
  color: #4caf50;
}

.proficiency p {
  font-size: 18px;
  color: var(--on-primary-color);
}

.about-me-skills li:nth-child(1) i {
  color: #e44d26;
}
.about-me-skills li:nth-child(2) i {
  color: #379ad6;
}
.about-me-skills li:nth-child(3) i {
  color: #f0db4f;
}
.about-me-skills li:nth-child(4) i {
  color: #7952b3;
}
.about-me-skills li:nth-child(5) i {
  color: #f1502f;
}
.about-me-skills li:nth-child(6) i {
  color: #61dafb;
}
.about-me-skills li:nth-child(7) i {
  color: #f24e1e;
}
.about-me-skills li:nth-child(8) i {
  color: #339933;
}
.about-me-skills li:nth-child(9) i {
  color: #cb3837;
}
.about-me-skills li:nth-child(10) i {
  color: #2ed6a2;
}
.about-me-skills li:nth-child(11) i {
  color: #ff6c37;
}
.about-me-skills li:nth-child(12) i {
  color: #47a248;
}
.about-me-skills li:nth-child(13) i {
  color: #336791;
}
.about-me-skills li:nth-child(14) i {
  color: #f0db4f;
}
.about-me-skills li:nth-child(15) i {
  color: #3776ab;
}
.about-me-skills li:nth-child(16) i {
  color: #007396;
}
.about-me-skills li:nth-child(17) i {
  color: #54a7c4;
}

/* CSS for the Experience Section */
.about-me-experience {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(45, 45, 45, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-me-experience h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
  transition: color 0.3s;
}

.about-me-experience p {
  font-size: 20px;
  margin: 20px 0;
  transition: color 0.3s;
  color: white;
  line-height: 1.5;
}

.about-me-experience-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.about-me-experience-list li {
  font-size: 18px;
  margin: 10px 0;
  transition: color 0.3s;
  color: white;
}

/* Style the checkmark icons */
.about-me-experience-list li i {
  color: #27ae60;
  margin: 5px;
  line-height: 1.5;
  font-size: 22px;
}

.about-me-experience-list li span {
  padding-left: 10px;
  /* display: inline-block; */
}

/* CSS for the LinkedIn Profile Badge */
.profiles {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(45, 45, 45, 0.4);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.profile-badge--width-330 , .badge-base ,
.badge-base iframe , .profile-badge{
  max-width: 330px !important;
  width: 100% !important;
  margin: 10px;
}
.profile-badge-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.linkedin-badge {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.badge-base {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-base__link {
  color: var(--secondary-color);
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.badge-base__link:hover {
  color: var(--primary-color);
}

/* CSS for the GitHub Profile Section */
.github-profile {
  max-width: 330px;
  padding: 0;
  background-color: white;
  border-radius: 8px;
}

.github-profile h2 {
  padding: 9px 16px;
  background-color: #e9e5df;
  border-radius: 8px 8px 0px 0px;
}

.github-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid gray;
  transition: transform 0.2s ease-in-out;
  margin: 12px 16px 8px;
}

.github-avatar img:hover {
  border: 3px solid var(--primary-color);
}

.github-info {
  text-align: left;
  padding: 0px 16px 16px 16px;
}

.github-info h3 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.github-info p {
  font-size: 14px;
  margin-top: 6px;
  transition: color 0.3s;
}

#github-link {
  display: inline-block;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 167ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px #0a66c2;
  color: #0a66c2;
  margin: 10px 0 0;
}

#github-link:hover {
  background-color: rgba(112, 181, 249, 0.15);
  color: #0a66c2;
  box-shadow: inset 0 0 0 2px #0a66c2;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .about-me {
    margin: 20px auto;
  }

  .about-me h1 {
    font-size: 40px;
  }

  .about-me-img img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .about-me {
    margin: 10px auto;
  }

  .about-me h1 {
    font-size: 30px;
  }

  .about-me-img img {
    width: 120px;
    height: 120px;
  }

  .about-me-text p:nth-child(2) {
    font-size: 35px;
  }
  .about-me-skills-content h2,
  .about-me-experience h2 {
    font-size: 40px;
  }

  .about-me-skills-content li {
    font-size: 50px;
  }
  .about-me-experience-list li {
    line-height: 1.4;
  }
  .footer-left h3 {
    font-size: 2.5rem;
  }
  .social-icons a {
    font-size: 30px;
  }
}

/* ==========================================================
                   Portfolio Page
   ========================================================== */

.complete-portfolio-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

/* Header styling */
.portfolio-heading {
  text-align: center;
  padding: 40px;
  background: linear-gradient(to right, #4a90e2, #8f62de);
  color: #fff;
  position: relative;
  border-radius: 15px;
}

.portfolio-heading h1 {
  font-size: 36px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.portfolio-heading h1:before,
.portfolio-heading h1:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-heading h1:before {
  right: 100%;
  margin-right: 10px;
}

.portfolio-heading h1:after {
  left: 100%;
  margin-left: 10px;
}

.portfolio-heading p {
  font-size: 18px;
  line-height: 1.5;
}

/* Add animation for a subtle effect */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio-heading h1,
.portfolio-heading p {
  animation: slideIn 1s ease-in-out;
}

/* Navigation styling */
#project-tabs-nav {
  text-align: center;
  margin: 20px 0;
}

#project-tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#project-tabs li {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#project-tabs li:hover:not(#project-tabs li.active) {
  background-color: #3e1e68;
  color: #fff;
  transition: background-color 0.3s;
}

#project-tabs li.active {
  background-color: rgb(197, 80, 255);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}


/* Project-tabs Reponsiveness */
@media screen and (max-width: 520px) {
  #project-tabs {
    gap: 5px;
  }
}
@media screen and (max-width: 480px) {
  #project-tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
}

/* Projects section styling */
.projects {
  width: 100%;
  background: rgba(45, 45, 45, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.projects-list .project-item {
  width: calc(48.33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  background: #fff;
  position: relative;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  min-height: 240px;
}

.projects-list .project-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
}

.projects-list .project-item:hover::before {
  opacity: 1;
}

.projects-list .project-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-project-details {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-list .project-item:hover .portfolio-project-details {
  opacity: 1;
}

.portfolio-project-details h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f7f7f7;
}

.portfolio-project-details p {
  font-size: 1rem;
  color: white;
  margin: 10px 0;
}

.portfolio-project-links {
  margin-top: 20px;
}

.portfolio-project-links a {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 10px;
}

.portfolio-project-links a:hover {
  color: #007bff;
}

@media (max-width: 992px) {
  .projects-list .project-item {
    width: calc(80% - 20px);
  }
}

@media (max-width: 480px) {
  .projects-list .project-item {
    width: 100%;
  }
}
.projects-list .project-item.open {
  animation: fadeIn 0.6s ease-in-out;
  display: block;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.projects-list .project-item.hide {
  animation: fadeOut 0.6s ease-in-out, zoomOut 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  display: none;
  pointer-events: none;
  height: 0;
  width: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
